.jumbotron-cover{
	margin:0;
	background: none;
}

.navbar-jepret{
	margin-bottom: 0;
	background: none;
	border:none;
}

header{
	background: url('img/cover.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-bottom: 8em;
  	color:#FFFFFF;

}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

.cover-form {
	text-align: center;
}

.caption-jepret{
	position:absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.content{
	padding-top: 10px;
}

.thumbnail{
	padding:0;
	border: none;
	text-align: center;
}

.header-featured-story{
	/*padding-left: 25px;*/
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 20pt;
}

.thumbnail > .caption{
	position: absolute;
	width: 100%;
	bottom:0;
	left:0;
	color:#FFFFFF;
}

.input-jepret{
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border:none;
	background: rgba(255, 255, 255, 0.8);
}

.input-group-addon:first-child{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border:none;
	background: rgba(255, 255, 255, 0.8);
}